In [1]:
# Import dependencies
import pandas as pd
import numpy as np
from config import db_password
from sqlalchemy import create_engine
import psycopg2

In [2]:
# Create engine
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/lichess_data"
engine = create_engine(db_string)
conn=engine.connect()

In [3]:
# Pull SQL query and put into df
chess_df= pd.read_sql_table ("chess_data",conn)
chess_df.head()

,created_at,turns,winner,white_id,white_rating,black_id,black_rating,rating_difference,opening_eco,opening_name,moves
0,2017-08-31 20:06:40,13,white,bourgris,1500,a-00,1191,309,D10,Slav Defense: Exchange Variation,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4 Nc3 Ba5 Bf4
1,2017-08-30 21:53:20,16,black,a-00,1322,skinnerua,1261,61,B00,Nimzowitsch Defense: Kennedy Variation,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...
2,2017-08-30 21:53:20,61,white,ischia,1496,a-00,1500,-4,C20,King's Pawn Game: Leonardis Variation,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...
3,2017-08-30 16:20:00,61,white,daniamurashov,1439,adivanov2009,1454,-15,D02,Queen's Pawn Game: Zukertort Variation,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...
4,2017-08-29 18:06:40,95,white,nik221107,1523,adivanov2009,1469,54,C41,Philidor Defense,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...

In [4]:
# Splitting off Eco column to transform
opening_df=pd.DataFrame()
opening_df["opening_eco"]=chess_df["opening_eco"]
opening_df.head()

  opening_eco
0         D10
1         B00
2         C20
3         D02
4         C41

In [5]:
# Importing simplified opening csv I made
opening_dict=pd.read_csv("../datasets/clean/Chess_Openings.csv",index_col=0).to_dict()
opening_dict=opening_dict["ECO_title"]

In [6]:
# Replacing eco codes with simplified names
opening_df =opening_df.replace({"opening_eco":opening_dict})
opening_df.head()

           opening_eco
0       Queen's Gambit
1  King's Pawn Opening
2     King's Pawn Game
3    Queen's Pawn Game
4   Philidor's Defense

In [7]:
# Replace opening name column in chess_df
chess_df["opening_name"]=opening_df["opening_eco"]
chess_df.head()

,created_at,turns,winner,white_id,white_rating,black_id,black_rating,rating_difference,opening_eco,opening_name,moves
0,2017-08-31 20:06:40,13,white,bourgris,1500,a-00,1191,309,D10,Queen's Gambit,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4 Nc3 Ba5 Bf4
1,2017-08-30 21:53:20,16,black,a-00,1322,skinnerua,1261,61,B00,King's Pawn Opening,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...
2,2017-08-30 21:53:20,61,white,ischia,1496,a-00,1500,-4,C20,King's Pawn Game,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...
3,2017-08-30 16:20:00,61,white,daniamurashov,1439,adivanov2009,1454,-15,D02,Queen's Pawn Game,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...
4,2017-08-29 18:06:40,95,white,nik221107,1523,adivanov2009,1469,54,C41,Philidor's Defense,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...

In [8]:
# Drop original chess_data table
conn.execute("drop table chess_data")

In [9]:
# Push table back into PgAdmin to replace chess_data
chess_df.to_sql(name='chess_data', con=engine)