In [1]:
# Import dependencies
import pandas as pd
import numpy as np
from config import db_password
from sqlalchemy import create_engine
import psycopg2

In [2]:
# Create engine
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/lichess_data"
engine = create_engine(db_string)
conn=engine.connect()

In [3]:
# Pull SQL query and put into df
chess_df= pd.read_sql_table ("chess_data",conn)
chess_df.head()

,index,created_at,turns,winner,white_id,white_rating,black_id,black_rating,rating_difference,opening_eco,opening_name,moves
0,0,2017-08-31 20:06:40,13,white,bourgris,1500,a-00,1191,309,D10,Queen's Gambit,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4 Nc3 Ba5 Bf4
1,1,2017-08-30 21:53:20,16,black,a-00,1322,skinnerua,1261,61,B00,King's Pawn Opening,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...
2,2,2017-08-30 21:53:20,61,white,ischia,1496,a-00,1500,-4,C20,King's Pawn Game,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...
3,3,2017-08-30 16:20:00,61,white,daniamurashov,1439,adivanov2009,1454,-15,D02,Queen's Pawn Game,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...
4,4,2017-08-29 18:06:40,95,white,nik221107,1523,adivanov2009,1469,54,C41,Philidor's Defense,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...

In [4]:
# Check value counts of winner column
chess_df["winner"].value_counts()

white    507871
black    472378
draw      39166
*           214
Name: winner, dtype: int64

In [5]:
# Remove * rows
chess_df=chess_df.loc[chess_df["winner"]!="*"]

# Check value counts again
chess_df["winner"].value_counts()

white    507871
black    472378
draw      39166
Name: winner, dtype: int64

In [6]:
# Drop original chess_data table
conn.execute("drop table chess_data")

In [7]:
# Push table back into PgAdmin to replace chess_data
chess_df.to_sql(name='chess_data', con=engine)