In [1]:
# Import dependencies
import pandas as pd
import numpy as np
from config import db_password
from sqlalchemy import create_engine
import psycopg2

In [2]:
# Create engine
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/lichess_data"
engine = create_engine(db_string)
conn=engine.connect()

# Pull tables from SQL into dfs
chess_df= pd.read_sql_table ("chess_data",conn)
white_users_df= pd.read_sql_table ("white_users",conn)
black_users_df = pd.read_sql_table ("black_users",conn)

### I. Modify chess_data table to only include rows with players of same rating

In [3]:
# Create dictionary from chess titles table
titles_dict=pd.read_sql_table ("chess_titles",conn,index_col="ELO_rating").to_dict()
titles_dict=titles_dict["title"]

In [4]:
# Create players df
players_df=pd.DataFrame()
players_df["white_rating"]=chess_df["white_rating"]
players_df["black_rating"]=chess_df["black_rating"]
players_df["white_title"]=players_df["white_rating"]
players_df["black_title"]=players_df["black_rating"]
players_df.head()

   white_rating  black_rating  white_title  black_title
0          1500          1191         1500         1191
1          1322          1261         1322         1261
2          1496          1500         1496         1500
3          1439          1454         1439         1454
4          1523          1469         1523         1469

In [5]:
# convert title columns to names
players_df = players_df.replace({"white_title":titles_dict})
players_df = players_df.replace({"black_title":titles_dict})
players_df.head()

   white_rating  black_rating        white_title        black_title
0          1500          1191  Amateur (Class C)             Novice
1          1322          1261  Amateur (Class D)  Amateur (Class D)
2          1496          1500  Amateur (Class C)  Amateur (Class C)
3          1439          1454  Amateur (Class C)  Amateur (Class C)
4          1523          1469  Amateur (Class C)  Amateur (Class C)

In [6]:
# Create white title df and simplify title
white_title=pd.DataFrame()
white_title=players_df["white_title"].str.split(' ',n=1,expand=True)
white_title.head()

         0          1
0  Amateur  (Class C)
1  Amateur  (Class D)
2  Amateur  (Class C)
3  Amateur  (Class C)
4  Amateur  (Class C)

In [7]:
# Create black title df and simplify title
black_title=pd.DataFrame()
black_title=players_df["black_title"].str.split(' ',n=1,expand=True)
black_title.head()

         0          1
0   Novice       None
1  Amateur  (Class D)
2  Amateur  (Class C)
3  Amateur  (Class C)
4  Amateur  (Class C)

In [8]:
# Add title columns to copy of chess_df
chess_df_tableau=chess_df.copy()
chess_df_tableau["player_titles"]=white_title[0]
chess_df_tableau["player_titles2"]=black_title[0]

In [9]:
# Drop any rows where the players aren't the same title
chess_df_tableau=chess_df_tableau.loc[chess_df_tableau["player_titles"]==chess_df_tableau["player_titles2"]]

# Check length of chess_df
len(chess_df_tableau)

858276

In [10]:
# Drop unneeded 2nd player title column
chess_df_tableau=chess_df_tableau.drop("player_titles2",axis=1)
chess_df_tableau.head()

,created_at,turns,winner,white_id,white_rating,black_id,black_rating,rating_difference,opening_eco,opening_name,moves,player_titles
1,2017-08-30 21:53:20,16,black,a-00,1322,skinnerua,1261,61,B00,King's Pawn Opening,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,Amateur
2,2017-08-30 21:53:20,61,white,ischia,1496,a-00,1500,-4,C20,King's Pawn Game,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,Amateur
3,2017-08-30 16:20:00,61,white,daniamurashov,1439,adivanov2009,1454,-15,D02,Queen's Pawn Game,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,Amateur
4,2017-08-29 18:06:40,95,white,nik221107,1523,adivanov2009,1469,54,C41,Philidor's Defense,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,Amateur
6,2017-09-01 01:40:00,33,white,capa_jr,1520,daniel_likes_chess,1423,97,D00,Queen's Pawn Game,d4 d5 e4 dxe4 Nc3 Nf6 f3 exf3 Nxf3 Nc6 Bb5 a6 ...,Amateur

In [11]:
# Export to csv for tableau use
chess_df_tableau.to_csv("../datasets/tableau/chess_data_tableau.csv",index=False)

### II. Merge user tables to get master users table

In [12]:
# Rename columns of player dfs to match
white_users_df=white_users_df.rename(columns={"white_id":"player_id","white_rating":"player_rating"})
black_users_df=black_users_df.rename(columns={"black_id":"player_id","black_rating":"player_rating"})

# Join dfs
users_df=pd.concat([white_users_df,black_users_df])
users_df.head()

     player_id  player_rating          created_at
0      --jim--            986 2014-07-17 12:01:19
1       -adam-           1767 2016-07-27 08:34:48
2     -ArtanS-           1870 2016-07-31 10:07:13
3  -chessnoob-           1720 2016-07-31 17:46:30
4    -johnnyC-           1329 2016-07-29 19:04:28

In [13]:
# Sort values by date in order to remove earliest duplicate
users_df=users_df.sort_values(by="created_at",axis=0)

In [14]:
# Check length before
len(users_df)

188734

In [15]:
# remove duplicate users, keeping most recent
users_df=users_df.drop_duplicates("player_id",keep="last")

In [16]:
# check length again
len(users_df)

111503

In [17]:
# Duplicate player_title column for replacement with title name
users_df["player_title"] = users_df["player_rating"]

In [18]:
# Replace numbers with titles dictionary again
users_df = users_df.replace({"player_title":titles_dict})
users_df.head()

        player_id  player_rating          created_at       player_title
43038      julito            899 2013-08-17 20:33:53             Novice
23640  drunkninja           1219 2013-08-17 20:37:48  Amateur (Class D)
32904  goldenfork           1381 2013-08-19 16:38:07  Amateur (Class D)
9337    bardamu31            800 2013-08-19 17:23:45             Novice
29309     flyfish           1183 2013-08-19 20:56:29             Novice

In [19]:
# Export to csv for tableau use
users_df.to_csv("../datasets/tableau/chess_users_tableau.csv",index=False)

### III. Create games/day table

In [20]:
# Create 2 dataframes, 1 for each color
chess_df_white=chess_df.drop(["black_id","black_rating"],axis=1)
chess_df_black=chess_df.drop(["white_id","white_rating"],axis=1)

# Rename columns before joining
chess_df_white.rename(columns = {'white_id':'id', 'white_rating':'rating'}, inplace = True)
chess_df_black.rename(columns = {'black_id':'id', 'black_rating':'rating'}, inplace = True)

In [21]:
# Concatenate dataframes
chess_games_df=pd.concat([chess_df_white,chess_df_black])
chess_games_df

,created_at,turns,winner,id,rating,rating_difference,opening_eco,opening_name,moves
0,2017-08-31 20:06:40,13,white,bourgris,1500,309,D10,Queen's Gambit,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4 Nc3 Ba5 Bf4
1,2017-08-30 21:53:20,16,black,a-00,1322,61,B00,King's Pawn Opening,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...
2,2017-08-30 21:53:20,61,white,ischia,1496,-4,C20,King's Pawn Game,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...
3,2017-08-30 16:20:00,61,white,daniamurashov,1439,-15,D02,Queen's Pawn Game,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...
4,2017-08-29 18:06:40,95,white,nik221107,1523,54,C41,Philidor's Defense,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...
...,...,...,...,...,...,...,...,...,...
1019410,2016-07-19 11:24:04,44,black,DeLoreanGo,1374,-167,D30,Queen's Gambit,c4 e6 d4 d5 c5 Nc6 Nf3 Nf6 Bg5 Be7 e3 e5 Nxe5 ...
1019411,2016-07-03 09:58:58,64,draw,ruebezahl,1462,-209,A40,Queen's Pawn Game,d4 e5 e3 exd4 Qxd4 Nc6 Qf4 Nf6 Nf3 Bd6 Qc4 O-O...
1019412,2016-07-14 17:04:13,59,white,amarant,1535,145,C01,French Defense,e4 e6 d4 d5 exd5 exd5 Nc3 Nf6 Bg5 Bb4 Qd3 O-O ...
1019413,2016-07-14 19:54:50,46,black,sullc84,1551,-99,B21,Sicilian Defense,e4 c5 d4 cxd4 Qxd4 Nf6 Nc3 e6 Bg5 Nc6 Qd3 Ne5 ...
1019414,2016-07-17 16:53:08,52,black,uwha,1768,-92,B20,Sicilian Defense,e4 c5 c4 g6 Nc3 Bg7 Nge2 e6 d4 cxd4 Nxd4 Ne7 B...

In [22]:
# Make user list
users=chess_games_df["id"].value_counts()

# Convert to dictionary
users_dict=users.to_dict()

In [23]:
# Sort dataframe
chess_games_df=chess_games_df.sort_values(by=["id","created_at"],ignore_index=True)

In [24]:
# Get first and last game date
games_df=(chess_games_df.groupby(["id"], as_index=False)
        .agg(**{'First Date':('created_at', 'first'),
                'Last Date': ('created_at', 'last')}))

In [25]:
# Use users dictionary to get number of games per person
games_df["count"]=games_df["id"].map(users_dict)

In [26]:
# Get dictionary of player titles
title_dict=pd.Series(users_df.player_title.values,index=users_df.player_id).to_dict()

In [27]:
# Add player titles
games_df["title"]=games_df["id"].map(title_dict)

In [28]:
# Get users with same year and month date
games_df=games_df.loc[games_df["First Date"].dt.year == games_df["Last Date"].dt.year]
games_df=games_df.loc[games_df["First Date"].dt.month == games_df["Last Date"].dt.month]
games_df

,id,First Date,Last Date,count,title
0,--jim--,2014-07-17 12:01:19,2014-07-17 12:01:19,1,Novice
1,--o-o-o--,2016-07-16 13:12:13,2016-07-16 13:12:13,1,Amateur (Class C)
2,-0olo0-,2017-06-28 16:37:37,2017-06-28 16:37:37,1,Amateur (Class A)
3,-ArtanS-,2016-07-04 13:34:51,2016-07-31 10:07:13,15,Amateur (Class A)
4,-Chi-,2016-07-16 13:48:34,2016-07-16 13:48:34,1,Amateur (Class B)
...,...,...,...,...,...
111498,zzzbbb,2017-07-13 08:24:55,2017-07-13 08:24:55,1,Amateur (Class B)
111499,zzzimon,2017-06-26 23:39:01,2017-06-26 23:39:01,1,Amateur (Class D)
111500,zzzombie,2016-07-01 02:24:29,2016-07-31 02:21:08,68,Amateur (Class D)
111501,zzzvvv,2016-07-01 05:05:09,2016-07-31 05:03:40,12,Amateur (Class B)
111502,zzzzzzr,2016-07-18 20:15:54,2016-07-28 23:55:20,20,Amateur (Class A)

In [29]:
# Get number of days
games_df["dif"] = (games_df["Last Date"].dt.day - games_df["First Date"].dt.day) + 1

In [30]:
# Make grouped df
daily_games_df=pd.DataFrame()
daily_games_df["count"]=games_df.groupby("title")["count"].sum()
daily_games_df["days"]=games_df.groupby("title")["dif"].sum()
daily_games_df["games/day"]=daily_games_df["count"]/daily_games_df["days"]
daily_games_df

                              count    days  games/day
title
Amateur (Class A)            432245  291973   1.480428
Amateur (Class B)            511071  399870   1.278093
Amateur (Class C)            356649  329744   1.081594
Amateur (Class D)            142060  147293   0.964472
Grandmaster (GM)               5229    2573   2.032258
Master (Candidate) (CM)      208837  126335   1.653042
Master (FIDE) (FM)            22094   11121   1.986692
Master (International) (IM)   10367    5173   2.004060
Master (National) (NM)        41780   24354   1.715529
Novice                        36099   40304   0.895668

In [31]:
# Sort by games/day
daily_games_df = daily_games_df.sort_values("games/day")

# Save to csv
daily_games_df.to_csv("../datasets/tableau/daily_games_tableau.csv")