In [1]:
# Import dependencies
import pandas as pd
import numpy as np
from config import db_password
from sqlalchemy import create_engine
import psycopg2

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
file_dir = "/Users/joeyarney/Desktop/DataBootCamp/Group_1_Final_Project/Chess Datasets/games.csv"

In [4]:
# Load in csv file
games_df = pd.read_csv('/Users/joeyarney/Desktop/DataBootCamp/Group_1_Final_Project/Chess Datasets/games.csv', low_memory=False)
games_df.head(5)

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.500000e+12,1.500000e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.500000e+12,1.500000e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.500000e+12,1.500000e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,MsoDV9wj,False,1.500000e+12,1.500000e+12,5,draw,draw,10+0,trelynn17,1250,franklin14532,1002,e4 c5 Nf3 Qa5 a3,B27,Sicilian Defense: Mongoose Variation,4
4,qwU9rasv,True,1.500000e+12,1.500000e+12,33,resign,white,10+0,capa_jr,1520,daniel_likes_chess,1423,d4 d5 e4 dxe4 Nc3 Nf6 f3 exf3 Nxf3 Nc6 Bb5 a6 ...,D00,Blackmar-Diemer Gambit: Pietrowsky Defense,10

In [5]:
# Check to see column names
games_df.columns.tolist()

['id',
 'rated',
 'created_at',
 'last_move_at',
 'turns',
 'victory_status',
 'winner',
 'increment_code',
 'white_id',
 'white_rating',
 'black_id',
 'black_rating',
 'moves',
 'opening_eco',
 'opening_name',
 'opening_ply']

In [6]:
# 
db_string = f"postgresql://postgres:{db_password}@localhost:5432/games"

In [7]:
# Create Engine database
engine = create_engine(db_string)

In [8]:
# Create a table in sql with the imported csv data
# games_df.to_sql(name='games_df', con=engine)

In [9]:
# Connecting to postgres server and print successful if successful
def connect(db_string):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(db_string)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
#         sys.exit(1) 
    print("Connection successful")
    return conn

In [10]:
#Connect a database and put data in a python df
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [11]:
# Connect to the database and print the df
conn = connect(db_string)
column_names = ["index","id","rated","created_at","last_move_at","turns","victory_status","winner","increment_code","white_id","white_rating","black_id","black_rating","moves","opening_eco","opening_name","opening_ply"]
# Execute the "SELECT *" query
df = postgresql_to_dataframe(conn, "select * from games_df", column_names)
df.head()

Connecting to the PostgreSQL database...
Connection successful

,index,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,0,TZJHLljE,False,1.500000e+12,1.500000e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,1,l1NXvwaE,True,1.500000e+12,1.500000e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,2,mIICvQHh,True,1.500000e+12,1.500000e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,3,MsoDV9wj,False,1.500000e+12,1.500000e+12,5,draw,draw,10+0,trelynn17,1250,franklin14532,1002,e4 c5 Nf3 Qa5 a3,B27,Sicilian Defense: Mongoose Variation,4
4,4,qwU9rasv,True,1.500000e+12,1.500000e+12,33,resign,white,10+0,capa_jr,1520,daniel_likes_chess,1423,d4 d5 e4 dxe4 Nc3 Nf6 f3 exf3 Nxf3 Nc6 Bb5 a6 ...,D00,Blackmar-Diemer Gambit: Pietrowsky Defense,10

In [20]:
# Encode data to get results from games (win, draw, or loss) using get_dummies
winner_dummy = pd.get_dummies(df['winner'])
winner_dummy

       black  draw  white
0          0     0      1
1          1     0      0
2          0     0      1
3          0     1      0
4          0     0      1
...      ...   ...    ...
18295      0     0      1
18296      1     0      0
18297      0     0      1
18298      0     0      1
18299      1     0      0

[18300 rows x 3 columns]

In [26]:
results = []

In [28]:
df = pd.DataFrame(results, columns=['moves'])
df

Empty DataFrame
Columns: [moves]
Index: []

In [30]:
df.set_index(df['moves'], inplace=True)
print(df.to_string(index=False))

Empty DataFrame
Columns: [moves]
Index: []

In [33]:
target = ["moves"]

In [34]:
y = df.loc[:, target].copy()

In [36]:
y['moves'].value_counts()

Series([], Name: moves, dtype: int64)