In [1]:
# Import dependencies
import pandas as pd
import numpy as np
from config import db_password
from sqlalchemy import create_engine
import psycopg2
import sklearn as skl
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
file_dir = "/Users/joeyarney/Desktop/DataBootCamp/Group_1_Final_Project/Chess Datasets/games.csv"

In [4]:
# 
db_string = f"postgresql://postgres:{db_password}@localhost:5432/games"

In [5]:
# Create Engine database
engine = create_engine(db_string)

In [6]:
# Create a table in sql with the imported csv data
# games_df.to_sql(name='games_df', con=engine)

In [7]:
# Connecting to postgres server and print successful if successful
def connect(db_string):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(db_string)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
#         sys.exit(1) 
    print("Connection successful")
    return conn

In [8]:
#Connect a database and put data in a python df
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [9]:
# Connect to the database and print the df
conn = connect(db_string)
column_names = ["index","id","rated","created_at","last_move_at","turns","victory_status","winner","increment_code","white_id","white_rating","black_id","black_rating","moves","opening_eco","opening_name","opening_ply"]
# Execute the "SELECT *" query
df = postgresql_to_dataframe(conn, "select * from games_df", column_names)
df.head()

Connecting to the PostgreSQL database...
Connection successful

,index,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,0,TZJHLljE,False,1.500000e+12,1.500000e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,1,l1NXvwaE,True,1.500000e+12,1.500000e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,2,mIICvQHh,True,1.500000e+12,1.500000e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,3,MsoDV9wj,False,1.500000e+12,1.500000e+12,5,draw,draw,10+0,trelynn17,1250,franklin14532,1002,e4 c5 Nf3 Qa5 a3,B27,Sicilian Defense: Mongoose Variation,4
4,4,qwU9rasv,True,1.500000e+12,1.500000e+12,33,resign,white,10+0,capa_jr,1520,daniel_likes_chess,1423,d4 d5 e4 dxe4 Nc3 Nf6 f3 exf3 Nxf3 Nc6 Bb5 a6 ...,D00,Blackmar-Diemer Gambit: Pietrowsky Defense,10

In [12]:
chess_df=pd.read_csv("/Users/joeyarney/Desktop/DataBootCamp/Group_1_Final_Project/Chess Datasets/games.csv")

In [13]:
# Split moves column into moves df
moves_df = chess_df['moves'].str.split(' ', n=10, expand=True)

# Drop column 10 and rename columns
moves_df=moves_df.drop(10,axis=1)
moves_df.columns= ["Wm1","Bm1","Wm2","Bm2","Wm3","Bm3","Wm4","Bm4","Wm5","Bm5"]

moves_df["Outcome"] = chess_df["winner"]

# drop na
moves_df = moves_df.dropna()
moves_df

      Wm1  Bm1  Wm2   Bm2   Wm3   Bm3   Wm4    Bm4   Wm5   Bm5 Outcome
0      d4   d5   c4    c6  cxd5    e6  dxe6   fxe6   Nf3  Bb4+   white
1      d4  Nc6   e4    e5    f4    f6  dxe5   fxe5  fxe5  Nxe5   black
2      e4   e5   d3    d6   Be3    c6   Be2     b5   Nd2    a5   white
4      d4   d5   e4  dxe4   Nc3   Nf6    f3   exf3  Nxf3   Nc6   white
6      e4   e5  Bc4   Nc6   Nf3   Nd4    d3  Nxf3+  Qxf3   Nf6   black
...    ..  ...  ...   ...   ...   ...   ...    ...   ...   ...     ...
18295  d4   f5   e3    e6   Nf3   Nf6   Nc3     b6   Be2   Bb7   white
18296  d4   d6  Bf4    e5   Bg3   Nf6    e3   exd4  exd4    d5   black
18297  d4   d5  Bf4   Nc6    e3   Nf6    c3     e6   Nf3   Be7   white
18298  e4   d6   d4   Nf6    e5  dxe5  dxe5  Qxd1+  Kxd1   Nd5   white
18299  d4   d5  Bf4   Na6    e3    e6    c3    Nf6   Nf3   Bd7   black

[17760 rows x 11 columns]

In [14]:
# Changing moves to numbers
for col in moves_df.columns:
    
    # Get list of unique values
    values = list(set(moves_df[col].values))
    
    # Create numerical dictionary
    values_with_indexes = {}
    for i, v in enumerate(values):
        values_with_indexes[v] = i
    
    # Replace column
    moves_df.replace({col: values_with_indexes},inplace=True)

moves_df

       Wm1  Bm1  Wm2  Bm2  Wm3  Bm3  Wm4  Bm4  Wm5  Bm5  Outcome
0       18    2    0   18  142   78  260   84  305  163        1
1       18   18   68   10  164  177  167  271  253  182        2
2       17   14   10   80  156   49  239   92   10    7        1
4       18    2   68    0   61  199  166  221  131  227        1
6       17   14   74   19   98   58  139  149   48  200        2
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...      ...
18295   18    4   48   31   98  199   92   77  255  269        1
18296   18   12   31   10  138  199  237  148  297   30        2
18297   18    2   31   19  157  199  182  103  305   83        1
18298   17   12   73   82   36  139  167  229  180   69        1
18299   18    2   31   62  157   78  182  282  305  255        2

[17760 rows x 11 columns]

In [15]:
# Split our preprocessed data into our features and target arrays
y = moves_df["Outcome"].values
X = moves_df.drop("Outcome",1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 1)

/var/folders/r5/b0ntrzcd17z593g8437jx8m00000gn/T/ipykernel_12773/2706457753.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = moves_df.drop("Outcome",1).values

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
pip install --upgrade tensorflow

Requirement already satisfied: tensorflow in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (2.8.0)
Requirement already satisfied: absl-py>=0.4.0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.0.0)
Requirement already satisfied: tensorboard<2.9,>=2.8 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (0.25.0)
Requirement already satisfied: libclang>=9.0.1 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (14.0.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: setuptools in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (58.0.4)
Requirement already satisfied: astunparse>=1.6.0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: numpy>=1.20 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.20.3)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (3.10.0.2)
Requirement already satisfied: h5py>=2.9.0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (3.2.1)
Requirement already satisfied: termcolor>=1.1.0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.44.0)
Requirement already satisfied: six>=1.12.0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: flatbuffers>=1.12 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (2.0)
Requirement already satisfied: tf-estimator-nightly==2.8.0.dev2021122109 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (2.8.0.dev2021122109)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: wrapt>=1.11.0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: protobuf>=3.9.2 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (3.20.1)
Requirement already satisfied: google-pasta>=0.1.1 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: gast>=0.2.1 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (0.5.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from astunparse>=1.6.0->tensorflow) (0.37.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.6.6)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.8.1)
Requirement already satisfied: werkzeug>=0.11.15 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.0.2)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.9,>=2.8->tensorflow) (3.3.6)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.26.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (5.0.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.8.1)
Requirement already satisfied: zipp>=0.5 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.4.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/joeyarney/opt/anaconda3/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [19]:
# Create the keras sequential model
number_input_features = len(X_train_scaled[0])
nn_model = tf.keras.models.Sequential()

2022-05-07 13:05:33.627453: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [20]:
# Add the first layer including input layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid", input_dim = number_input_features))

In [21]:
# Add the ouput layer that uses a probability activation function
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid", input_dim = number_input_features))

In [22]:
# Create a summary to check the structure of the sequential model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1)                 11

 dense_1 (Dense)             (None, 1)                 2

=================================================================
Total params: 13
Trainable params: 13
Non-trainable params: 0
_________________________________________________________________

In [23]:
# Compile the model and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=5)

Epoch 1/5
417/417 [==============================] - 1s 1ms/step - loss: 1.1679 - accuracy: 0.0977
Epoch 2/5
417/417 [==============================] - 1s 2ms/step - loss: 0.5600 - accuracy: 0.3745
Epoch 3/5
417/417 [==============================] - 1s 2ms/step - loss: 0.1291 - accuracy: 0.4964
Epoch 4/5
417/417 [==============================] - 1s 1ms/step - loss: -0.1897 - accuracy: 0.4970
Epoch 5/5
417/417 [==============================] - 1s 1ms/step - loss: -0.4442 - accuracy: 0.4970